---
- name: Check hostname standards
  hosts: all
  gather_facts: false
  tasks:
    - name: Get real hostname from system
      ansible.builtin.shell:
        cmd: "hostname"
      register: real_hostname
      changed_when: false  # Это не меняет систему, только получает данные

    - name: Check servers in dmz and servers groups
      block:
        - name: Show error for wrong server names
          fail:
            msg: "❌ Server '{{ real_hostname.stdout }}' is wrong! Example: prod-web-dmz-01"
          when: "'prod-' not in real_hostname.stdout and 'test-' not in real_hostname.stdout and 'dev-' not in real_hostname.stdout and 'stage-' not in real_hostname.stdout"
          ignore_errors: yes

        - name: Show success for correct server names
          debug:
            msg: "✅ Server '{{ real_hostname.stdout }}' is good"
          when: "'prod-' in real_hostname.stdout or 'test-' in real_hostname.stdout or 'dev-' in real_hostname.stdout or 'stage-' in real_hostname.stdout"
      when: "'dmz' in group_names or 'servers' in group_names"

    - name: Check user PCs in users group
      block:
        - name: Show error for wrong PC names
          fail:
            msg: "❌ PC '{{ real_hostname.stdout }}' is wrong! Example: petrovich-linux-001"
          when: "'-linux-' not in real_hostname.stdout and '-windows-' not in real_hostname.stdout and '-macos-' not in real_hostname.stdout"
          ignore_errors: yes

        - name: Show success for correct PC names
          debug:
            msg: "✅ PC '{{ real_hostname.stdout }}' is good"
          when: "'-linux-' in real_hostname.stdout or '-windows-' in real_hostname.stdout or '-macos-' in real_hostname.stdout"
      when: "'users' in group_names"